/* You can add global styles to this file, and also import other style files */
@import "assets/variables";

html, body, p{
  font-family: 'Montserrat', sans-serif;
  color: $white;
}

h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
  color: $white;
}
span, a, a:hover{
  text-decoration: none;
  color: $white;
}
li{
  text-decoration: none;
  color: white;
}

body{
  background: $dark;
  opacity: 0.8;
  z-index: -1000;
}

.container{
  padding: 0 10% 0 10%;
}
.component-container{
  margin-top: 50px;
  h4,h2,h3{
    text-align: center;
  }
}
.footer{
  background: $dark;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000 !important;
  .container{
    height: 45px;
    .icons{
      padding-top: 5px;
      border-top: 1px solid $white;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .icons .fab:first-child{
      padding-left: 0;
    }
    .icons .fab{
      padding-left: 2%;
      font-size: 1.4em;
    }
  }
}

html, body { height: 100vh; overflow-y: scroll; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.75;
}
.cdk-overlay-dark-backdrop {
  background: $dark;
}
