<nav class="navigation-container">
  <div class="container">

    <!-- Logo -->
    <div class="logo-container">
      <a class="logo" href="#">Sheetal Gara</a>
    </div>

    <div class="menu-container">
      <ul class="navbar">
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="2">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="3">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="4">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
